.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: grey;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mdl-layout__header {
  background-color: #4b1c58;
  min-height: 100px;
}

.landing {
  width: 100%;
  padding-top: 0;
}

.landing section {
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

.landing-page-background {
  background-image: url('/assets/images/girl_headphones.png');
  background-position: center;
  background-size: cover;
  height: 800px;
  padding: 0px;
  padding-right: 0px;
  padding-left: 0px;
}


.mdl-grid {
    padding: 0px;
}


.selling-points {
  background-color: #4b1c58;
  padding: 0px;
  margin: 0px;
}

.mdl-layout__drawer.is-visible {
  background-color: #3e1a9705;
  box-shadow: none;
  border-right: 0px;
  border-left: 0px;
  width: 100px;
  margin: 0px;
  padding: 0px;
  border-color: rgba(0, 0, 0, 0);
}


.mdl-layout__drawer-button {
  color: white;
  margin-top: 20px;
  font-size: 50px;
}

.material-icons {
  font-size: 50px;
}


.blur-background-library {
  background-image: url('/assets/images/blurred_backgrounds/blur_bg_3.jpg');
  background-position: center;
  background-size: cover;
}

.mdl-layout__obfuscator.is-visible {
    pointer-events: auto;
    opacity: 0;
}

.hero-title {
  font-size: 48px;
  font-style: italic;
  margin-top: 20px;
  margin-left: 420px;
  align-content: center;
}

.bloc-logo {
  align-content: right;
  margin-top:40px;

}

.point {
  padding: 40px;
  color: white;
}

.point-description {
  font-size: 16px;
}

.point-title,
.point-description
.album-content,
.song,
.album-details {
  color: white;
}

#library  div {
  color: white;
}

.albumCover {
  shape-outside: circle(50%);
}

.hamburger-drawer {
  color: rgb(239, 240, 243);
  width: 20%;
  margin-top: 20px;
}

.flexbox-container {
  color: white;
  padding-top: 80px;
  align-items: left;
  margin: 0px;
  font-style: italic;
  display: flex;
  flex-direction: column;
}




#song-list {
  width: 100%;
}

.player-bar {
  margin: 25px;
}

.player-bar section {
  margin: 10px;
}
